__pycache__/
*.pyc
*.pyo
.env
.venv/
.idea/
.vscode/
.obsidian/
.k8s/secret.yaml

# Terraform
terraform/.terraform/
terraform/.terraform.lock.hcl
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
terraform/*.tfvars

# Key files
*.pem